@import "../../styles/variables";
@import "../../styles/mixins";

//Small screens - MOBILE
@media only screen {
  .split-screen__content {
    display: grid;
    align-content: center;
    padding: 25px;
    background-color: #1e2e73;
  }
  .split-screen__content div {
    color: white;
    font-size: 1.25rem;
  }
  .split-screen__image {
    margin-block: auto;
    padding-block: 25px;
    z-index: 2;
    height: fit-content;
  }
  @media only screen and (min-width: 600px) {
    .section__split-screen {
      display: grid;
      grid-template-columns: 1.5fr 2fr;
      gap: 25px;
      margin-block: 50px;
    }
    .split-screen__image {
      padding-block: 50px;
    }
    .split-screen__image img {
      width: auto;
    }
    .split-screen__content {
      position: relative;
      max-width: 650px;
      padding: 50px;
    }
    .split-screen__content::after {
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      left: -200px;
      z-index: 1;
      background-color: #1e2e73;
      content: "";
    }
  }
}

//Medium screens - TABLET
@media only screen and (min-width: $MEDIUM_SCREEN) {
}

//Large screens - DESKTOP
@media only screen and (min-width: $LARGE_SCREEN) {
}

//XLarge screens
@media only screen and (min-width: $XLARGE_SCREEN) {
}

//XXLarge screens
@media only screen and (min-width: $XXLARGE_SCREEN) {
}
