@import "../styles/variables.scss";

.section_things {
  &__header > * {
    margin: 0;
    padding: 0;
    font-weight: 200;
  }
  padding: 0px 50px 75px;
  &__header {
    margin-bottom: 50px;
    &Text,
    &Subtext {
      text-align: center;
    }
    &Text {
      font-size: $LARGE;
      margin-bottom: 25px;
    }
    &Subtext {
      font-size: $MIDSMALL;
    }
  }
  &__widgets {
    flex-direction: column;
    @media only screen and (min-width: $MEDIUM_SCREEN) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 35px;
      justify-content: center;
    }
  }
}
