// Feature Specific Colors
$FONT_GRAY: rgba(0, 0, 0, 0.7);
$BORDER_GRAY: rgba(0, 0, 0, 0.5);
$BOX_SHADOW_GRAY: rgba(189, 195, 199, 0.6);
$BOX_SHADOW: 1px 2px $BOX_SHADOW_GRAY;
$BOX_SHADOW_WIDGET: 0px 1px 3px 2px rgb(189 189 189 / 40%);

// Spacing
$XXSMALL: 0.3rem;
$XSMALL: 0.6rem;
$SMALL: 1.2rem;
$MIDSMALL: 1.6rem;
$MEDIUM: 1.8rem;
$MIDLARGE: 2.4rem;
$LARGE: 3.2rem;
$XLARGE: 4.8rem;
$XXLARGE: 7.6rem;
$MAX_TEXT_WIDTH: 600px;

// Screen Breakpoints
$MEDIUM_SCREEN: 641px;
$LARGE_SCREEN: 1025px;
$XLARGE_SCREEN: 1441px;
$XXLARGE_SCREEN: 1921px;
